.navBrandStyle {
    font-size: 34px;
    margin-left: 50px;
}

.navLinks {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.navLinkStyle {
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navLinkStyle:hover {
    color: #cccccc;
    opacity: 0.8;
    text-decoration: none;
}